h1 {
    color: black; 
    text-align: center;
 }
 h2 {
    color: yellowgreen; 
    text-align: center;
 }
 h3 {
    color: red; 
    text-align: center;
 }
 h4 {
    color: green; 
    text-align: center;
 }
 h5 {
    color: violet; 
    text-align: center;
 }
 h6 {
    color: pink; 
    text-align: center;
 }